@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
    text-align: center;
}

#map {
    background-color: snow;
    margin-bottom: 40px;
    position: relative;
}

#map:after {
    content:'';
    height: 10px;
    width: 10px;
    background-color:red;
    border: 2px solid white;
    border-radius: 100%;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}


#iframe-map {
    height: 40vh;
    width: 100vh;
}

.geo-button {
    border: none;
    font-weight: bold;
    background-color: yellow;
    padding:10px 15px;
    cursor: pointer
    
}

.geo-button:hover {

    background-color: rgb(76, 202, 26);
    color: rgb(31, 42, 31);
    transition: 0.4s;
}

